<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body  class="bg-light">

<div th:replace="fragments :: page-header"></div>

<div class="container">
    <h2 class="text-primary my-3">Add New Flash Card Deck</h2>

    <form method="post">
        <div class="form-group">
            <label for="cardDeckName">Deck Name</label>
            <input th:field="${cardDeck.name}" class="form-control" id="cardDeckName" placeholder="Enter new deck name" required>
            <span th:errors="${cardDeck.name}" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="cardDeckDescription">Card Deck Description</label>
            <input th:field="${cardDeck.description}" class="form-control" id="cardDeckDescription" placeholder="Describe the card deck" required>
            <span th:errors="${cardDeck.description}" class="text-danger"></span>
        </div>

        <div class="p-5 border border-primary form-group">
            <p>Flash Cards</p>
            <p th:if="${cardError}" class="text-danger">All fields must be filled.</p>
            <p th:if="${cardError}" class="text-danger">Fields must be between 1 - 100 characters.</p>

            <div id="fieldToAdd" class="form-row my-3">
                <div class="col">
                    <input name="flashCardName0" class="form-control" placeholder="Front of card" required>
                </div>
                <div class="col">
                    <input name="flashCardReverseSide0" class="form-control" placeholder="Back of card" required>
                </div>
            </div>

            <div id="addFieldHere" class="form-row"></div>

            <button type="button" class="btn btn-primary btn-sm" id="moreFields" aria-label="Left Align">
                Add Card
            </button>
        </div>



        <button type="submit" class="btn btn-primary" >Submit</button>
    </form>

</div>


<div th:replace="fragments :: scripts"></div>

</body>
</html>