<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body class="bg-light">

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h2 class="text-primary">Manage Card Decks</h2>
    <div class="alert alert-success" role="alert" th:if="${deckWasDeleted}">Card deck was deleted.</div>
    <div class="alert alert-danger" role="alert" th:if="${noIdsSelected}">Please select the card decks to delete.</div>

    <p th:unless="${cardDecksExist}">Nothing to manage!</p>

    <div th:if="${cardDecksExist}">
        <form method="post">
            <table class="table table-striped">
                <tr>
                    <th scope="col">Card Deck Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Delete?</th>
                </tr>
                <tr th:each="cardDeck : ${cardDecks}">
                    <td th:text="${cardDeck.name}"></td>
                    <td th:text="${cardDeck.description}"></td>
                    <td><input type="checkbox" name="cardDeckIds" th:value="${cardDeck.id}"></td>
                </tr>
            </table>

            <input type="submit" value="Delete" class="btn btn-danger">
        </form>
    </div>

</div>

<div th:replace="fragments :: scripts"></div>

</body>
</html>