<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body class="bg-light">

<div th:replace="fragments :: page-header"></div>

<div class="row mt-5" sec:authorize="hasRole('ADMIN')">
    <div class="mx-auto mb-3">
        <div class="card border-dark text-white bg-white mb-3 h-100" style="max-width: 18rem;">
            <div class="card-header bg-dark">User</div>
            <div class="card-body text-dark">
                <h5 class="card-title">Create New User</h5>
                <p class="card-text mb-5">Need to add a new user profile? This is the place to do it!</p>
                <a href="registration" class="btn btn-dark" style="position: absolute; bottom: 1rem;">Let's go!</a>
            </div>
        </div>
    </div>

    <div class="mx-auto mb-3">
        <div class="card border-dark text-white bg-white mb-3 h-100" style="max-width: 18rem;">
            <div class="card-header bg-dark">User</div>
            <div class="card-body text-dark">
                <h5 class="card-title">Manage Users</h5>
                <p class="card-text mb-5">Is there a user profile you no longer need?</p>
                <a href="manage" class="btn btn-dark" style="position: absolute; bottom: 1rem;">Let's go!</a>
            </div>
        </div>
    </div>
</div>

<div class="container body-content">
    <h2 class="text-dark">All Users</h2>
    <table class="table table-striped">
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Display Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">View</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.userName}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.roles}"></td>
            <td><a th:href="@{'profile/' + ${user.id}}" class="btn btn-dark">View</a></td>
        </tr>
    </table>
</div>

</div>

<div th:replace="fragments :: scripts"></div>

</body>
</html>