<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body class="bg-light">

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h2 class="text-dark my-3">Create User</h2>
    <form method="post" enctype="utf8">
        <div>
            <label>Username</label>
            <input th:field="${user.userName}"/>
            <span th:errors="${user.userName}" class="text-danger"></span>
        </div>
        <div>
            <label>Display Name</label>
            <input th:field="${user.displayName}"/>
            <span th:errors="${user.displayName}" class="text-danger"></span>
        </div>
        <div>
            <label>Email</label>
            <input type="email" th:field="${user.email}"/>
            <span th:errors="${user.email}" class="text-danger"></span>
        </div>
        <div>
            <label>Password</label>
            <input type="password" th:field="${user.password}"/>
            <span th:errors="${user.password}" class="text-danger"></span>
        </div>
        <div>
            <label>Confirm Password</label>
            <input type="password" th:field="${user.matchingPassword}"/>
            <span th:errors="${user.matchingPassword}" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-dark mb-4" >Submit</button>
    </form>
</body>


</div>

<div th:replace="fragments :: scripts"></div>

</body>
</html>