.scene {
      width: 40vh;
      height: 50vh;
      perspective: 1000px;
}

.flip-card {
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}