<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body class="bg-light">

<div th:replace="fragments :: page-header"></div>

<div class="container">
    <h1 class="text-dark" >Add New Flash Card Deck</h1>

    <form method="post">
        <div class="form-group">
            <label for="categoryName">Category Name</label>
            <input type="text" class="form-control" id="categoryName" placeholder="Enter new category name">
        </div>
        <button type="submit" class="btn btn-dark" >Submit</button>
    </form>

</div>

<div th:replace="fragments :: scripts"></div>

</body>
</html>