<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">

    <title></title>
</head>
<body class="bg-light">

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <div class="mx-auto text-center" style="max-width: 400px;">
        <h2>Hello, user!</h2>
        <p>What would you like to do today?</p>
    </div>


<!--Top row for quick access to random card deck or quiz-->
    <div class="row">
        <div class="mx-auto">
            <div class="card border-primary text-white bg-white mb-3" style="max-width: 18rem;">
                <div class="card-header bg-primary">Flash Cards</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">Random Flash Card Deck</h5>
                    <p class="card-text">Why not take some time with a random deck of cards?</p>
                    <a href="#" class="btn btn-primary stretched-link">Let's go!</a>
                </div>
            </div>
        </div>

        <div class="mx-auto">
            <div class="card border-success text-white bg-white mb-3" style="max-width: 18rem;">
                <div class="card-header bg-success">Quizzes</div>
                <div class="card-body text-success">
                    <h5 class="card-title">Random Quiz</h5>
                    <p class="card-text">Test what you've learned with a random quiz.</p>
                    <a href="#" class="btn btn-success stretched-link">Let's go!</a>
                </div>
            </div>
        </div>
    </div>

<!--Start of smaller cards. Split horizontally with card decks on left and quizzes on right-->
    <div class="row">
        <!--Flash Card decks-->
        <div class="col-md-6">
            <div class="row">

                <div class="col">
                    <div class="card text-primary bg-secondary mb-3" style="max-width: 15rem; height: 95%;">
                        <div class="card-header bg-dark">Flash Cards</div>
                        <div class="card-body text-white">
                            <h5 class="card-title">One</h5>
                            <p class="card-text">This will be a nice description of what this card will lead to.</p>
                            <a href="#" class="btn btn-primary stretched-link">Let's go!</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card text-primary bg-secondary mb-3" style="max-width: 15rem; height: 95%;">
                        <div class="card-header bg-dark">Flash Cards</div>
                        <div class="card-body text-white">
                            <h5 class="card-title">Two</h5>
                            <p class="card-text">This will be a nice description of what this card will lead to.</p>
                            <a href="#" class="btn btn-primary stretched-link">Let's go!</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col">
                    <div class="card text-primary bg-secondary mb-3" style="max-width: 15rem; height: 95%;">
                        <div class="card-header bg-dark">Flash Cards</div>
                        <div class="card-body text-white">
                            <h5 class="card-title">Three</h5>
                            <p class="card-text">This will be a nice description of what this card will lead to.</p>
                            <a href="#" class="btn btn-primary stretched-link">Let's go!</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card text-primary bg-secondary mb-3" style="max-width: 15rem; height: 95%;">
                        <div class="card-header bg-dark">Flash Cards</div>
                        <div class="card-body text-white">
                            <h5 class="card-title">Four</h5>
                            <p class="card-text">This will be a nice description of what this card will lead to.</p>
                            <a href="#" class="btn btn-primary stretched-link">Let's go!</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--Quizzes-->
        <div class="col-md-6">
            <div class="row">

                <div class="col">
                    <div class="card text-success bg-secondary mb-3" style="max-width: 15rem; height: 95%;">
                        <div class="card-header bg-dark">Quizzes</div>
                        <div class="card-body text-white">
                            <h5 class="card-title">One</h5>
                            <p class="card-text">This will be a nice description of what this card will lead to.</p>
                            <a href="#" class="btn btn-success stretched-link">Let's go!</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card text-success bg-secondary mb-3" style="max-width: 15rem; height: 95%;">
                        <div class="card-header bg-dark">Quizzes</div>
                        <div class="card-body text-white">
                            <h5 class="card-title">Two</h5>
                            <p class="card-text">This will be a nice description of what this card will lead to.</p>
                            <a href="#" class="btn btn-success stretched-link">Let's go!</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col">
                    <div class="card text-success bg-secondary mb-3" style="max-width: 15rem; height: 95%;">
                        <div class="card-header bg-dark">Quizzes</div>
                        <div class="card-body text-white">
                            <h5 class="card-title">Three</h5>
                            <p class="card-text">This will be a nice description of what this card will lead to.</p>
                            <a href="#" class="btn btn-success stretched-link">Let's go!</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card text-success bg-secondary mb-3" style="max-width: 15rem; height: 95%;">
                        <div class="card-header bg-dark">Quizzes</div>
                        <div class="card-body text-white">
                            <h5 class="card-title">Four</h5>
                            <p class="card-text">This will be a nice description of what this card will lead to.</p>
                            <a href="#" class="btn btn-success stretched-link">Let's go!</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<div th:replace="fragments :: scripts"></div>
</body>
</html>